{{ $src := .Get "src" }}
{{ $size := .Get "size" | default 250 }}
{{ $square := .Get "square" | default false }}

{{ $imgSrc := "" }}
{{ $href := "" }}
{{ if (findRE "^http:" $src) }}
  {{ $imgSrc = $src }}
  {{ $href = .Get "href" | default $imgSrc }}
{{ else if (findRE "^piwigo:" $src) }}
  {{ $imgSrc = printf "https://photos.strangeplanet.fr/i.php?/upload/%s-sm.jpg" (replace $src "piwigo:" "") }}
  {{ $href = printf "https://photos.strangeplanet.fr/i.php?/upload/%s-la.jpg" (replace $src "piwigo:" "") }}
{{ else }}
  {{ $image := $.Page.Resources.GetMatch $src }}
  {{ $imageSmall := $image.Process (cond $square (printf "fill %dx%d center q90" $size $size) (printf "resize x%d q90" $size)) }}

  {{ $imgSrc = $imageSmall.RelPermalink }}
  {{ $href = $image.RelPermalink }}
{{ end }}

<a href="{{ $href }}"
   {{ with .Get "title"}}title="{{ . | plainify }}"{{ end }}
   class="glightbox"
   style="box-shadow: none"
>
  <img src="{{ $imgSrc }}"
       {{ with .Get "title"}}alt="{{ . | plainify }}"{{ end }}
       height="{{ $size }}"
       style="display: inline"
  >
</a>
